.card {
  padding: 2em;
  margin: 2em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
  background-color: aqua;
}

.navBar {
  background-color: #3b5998;
  color: white;
  padding: 1em;
  text-align: center;
  width: 100%;
}